BVSHOP_API_BASE_URL=https://YOUR_BVSHOP_API_BASE_URL/api/v2
BVSHOP_API_TOKEN=PASTE_YOUR_TOKEN_HERE
DEFAULT_COMPANY_ID=COMPANY_DEFAULT
DEFAULT_PAYMENT_ID=1
DEFAULT_LOGISTIC_ID=1
DEFAULT_CVS_STORE_NAME=門市自取
DEFAULT_CVS_STORE_NUM=0000
